services:
  glance-agent:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "9012:9012"
    volumes:
      - /etc/os-release:/etc/os-release:ro
    environment:
      - SECRET_TOKEN=CHANGE_ME
      - PORT=9012
      - IGNORE_MOUNTPOINTS=${IGNORE_MOUNTPOINTS}
      - WHITELIST_IPS=100.64.0.0/10 # example with tailscale IP range
      - OVERRIDE_IGNORED_MOUNTPOINTS=
      - OVERRIDE_WHITELIST_IPS=
      - DISABLE_CPU_LOAD="false"
      - DISABLE_TEMPERATURE="false"
      - DISABLE_MEMORY="false"
      - DISABLE_SWAP="false"
      - DISABLE_DISK="false"
      - DISABLE_HOST="false"
    restart: unless-stopped